#home{
    height: 100vh;
    background-image: url(../img/img01-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message{
    color:white;
    font-family: 'Special Elite', cursive;
    font-size: 4rem;
    border-right: 4px solid white;
    animation: cursor 700ms infinite;
}

@keyframes cursor{
    from{
        border-right-color: white;
    }
    to{
        border-right-color: transparent;
    }
}

