main #imagem .slider{
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
}

main #imagem .slider .slide{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
       
}

main #imagem .slide.active{
    display:flex;
    justify-content: center;
    align-items: center;
    animation: aparece 2s ease;
}


@keyframes aparece{
    0%{
        transform:scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

main #imagem .slide .texto{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main #imagem .slide.active .cidade{
    font-family: 'Special Elite', cursive;
    color:white;
    font-size: 6rem;
    font-weight: 600;
    animation: textEffect 5s;
}

main #imagem .slide.active .pais{
    font-family: 'Special Elite', cursive;
    color:white;
    font-size: 3rem;
    opacity: 0;
    animation: textEffect 5s forwards;
    animation-delay: 1s;
}

@keyframes textEffect{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


main #imagem .prev,
main #imagem .next{
    position: absolute;
    top: 172%;
    z-index: 2;
    font-size: 3rem;
    color:white;
    padding: 10px;
    transition: 1s;  
}

main #imagem .next{
    right:0%;
}

main #imagem .prev:hover,
main #imagem .next:hover{
    background-color:white;
    color:black;
    cursor: pointer;
}








