main #mapa{
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

main #mapa .button{
    position: absolute;
}

main #mapa #zoomOut,
main #mapa #zoomIn{
    display:block;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    margin: 0.5rem 1rem;
}

main #mapa .paises{
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    stroke-linejoin: round;
    stroke:#000;
    fill: none;
    object-fit: cover;
}

main #mapa .paises.move{
    cursor: grabbing;
}

main #mapa .paises path{
    fill:#f2f2f2;
    fill-rule:evenodd;
}

main #mapa .paises .pais:hover{
    cursor: pointer;
    fill:black;
}

main #mapa .paises .pais.active{
    fill: green;
}

.contador {
    position: absolute;
    bottom: 5%;
    margin-left:1.5rem;
    font-family: 'Reenie Beanie', cursive;
    font-size: 2rem;
}

main #mapa .popup{
    position: absolute;
    top:50%;
    left: 10%;
    z-index: 5;
    border: 1px solid black;
    border-radius: 5px;
    min-width:15%;
    min-height: 15%;
    display: flex;
    flex-direction: column;

}


main #mapa .popup .popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 0.3rem 0.2rem;
}

main #mapa .popup .popup-header a{
    text-decoration: none;
    color: white;
}

main #mapa .popup .popup-header .close-button button{
    background: red;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

main #mapa .popup .popup-body{
    display: flex;
}

main #mapa .popup .popup-body .popup-flag,
main #mapa .popup .popup-body .popup-content{  
    min-width: 50%;
}

main #mapa .popup .popup-body .popup-flag{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;
}

main #mapa .popup .popup-body .popup-content{
    box-sizing: border-box;
    
}

main #mapa .popup .popup-body .popup-content ul{
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    padding: 5px;

}

main #mapa .popup .popup-body .popup-content ul{
    list-style-type:initial;
}

main #mapa .popup .popup-body .popup-content ul li{
    align-content: flex-start;
}